<h1 style="color: darkblue; text-align: center; font-family: Arial, sans-serif; font-size: 32px;">
  Basics of Data frame
</h1>

In [1]:
# EXP NO: 3

In [4]:
#Aim: To understand the structure and operations of DataFrames for efficient data manipulation using Pandas.

In [5]:
#Name: Raghuvir V. Anturkar 
#Roll no: 03
#sec: A
#subject: EMERGING TECH. LAB - I

In [6]:
import pandas as pd

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [7]:
# Creating a simple DataFrame using a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Paris', 'London', 'Tokyo']
}

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   24  New York
1      Bob   27     Paris
2  Charlie   22    London
3    David   32     Tokyo

In [11]:
print("Shape of DataFrame:", df.shape)

Shape of DataFrame: (4, 3)

In [12]:
print("Data Types:\n", df.dtypes)

Data Types:
 Name    object
Age      int64
City    object
dtype: object

In [13]:
print("Columns:", df.columns)

Columns: Index(['Name', 'Age', 'City'], dtype='object')

In [14]:
print("Index:", df.index)

Index: RangeIndex(start=0, stop=4, step=1)

In [15]:
print("Name column:\n", df['Name'])

Name column:
 0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [16]:
print("Row at index 1:\n", df.loc[1])

Row at index 1:
 Name      Bob
Age        27
City    Paris
Name: 1, dtype: object

In [17]:
print("First two rows:\n", df.iloc[:2])

First two rows:
     Name  Age      City
0  Alice   24  New York
1    Bob   27     Paris

In [18]:
# Add a new column
df['Score'] = [85, 90, 88, 92]

In [19]:
df.at[0, 'Age'] = 25

print(df)

      Name  Age      City  Score
0    Alice   25  New York     85
1      Bob   27     Paris     90
2  Charlie   22    London     88
3    David   32     Tokyo     92

In [20]:
print("Summary Statistics:\n", df.describe())

Summary Statistics:
              Age      Score
count   4.000000   4.000000
mean   26.500000  88.750000
std     4.203173   2.986079
min    22.000000  85.000000
25%    24.250000  87.250000
50%    26.000000  89.000000
75%    28.250000  90.500000
max    32.000000  92.000000

In [22]:
# Sort by Age
sorted_df = df.sort_values(by='Age')
print("Sorted by Age:\n", sorted_df)

Sorted by Age:
       Name  Age      City  Score
2  Charlie   22    London     88
0    Alice   25  New York     85
1      Bob   27     Paris     90
3    David   32     Tokyo     92

In [24]:

# Filter rows where Score > 88
filtered_df = df[df['Score'] > 88]
print("Score > 88:\n", filtered_df)

Score > 88:
     Name  Age   City  Score
1    Bob   27  Paris     90
3  David   32  Tokyo     92

### âœ… Conclusion:
This practical provided hands-on experience with creating and manipulating Pandas DataFrames. Key operations such as accessing data, modifying values, filtering, and summarizing were practiced to build a strong foundation in data handling and analysis using Python.