<h1 style="color: darkblue; text-align: center; font-family: Arial, sans-serif; font-size: 32px;">
  Data acquisition using pandas
</h1>

In [ ]:
# EXP NO: 1

In [ ]:
# AIM : To demonstrate how to acquire and load data efficiently using the Pandas library in Python, including reading from various        file formats such as CSV, Excel, and JSON.

In [ ]:
#Name: Raghuvir V. Anturkar 
#Roll no: 03
#sec: A
#subject: EMERGING TECH. LAB - I

In [5]:
import pandas as pd

In [6]:
import os

In [7]:
import os
os.getcwd()

'/Users/raghuviranturkar'

In [8]:
os.chdir("/Users/raghuviranturkar/Desktop")

In [9]:
df = pd.read_csv("diabetes_prediction_dataset.csv")

In [10]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [11]:
df.tail()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [13]:
df.shape

(100000, 9)

In [14]:
df.size

900000

In [16]:
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

### ✅ Conclusion:
This practical demonstrated how to efficiently load and manage data using the Pandas library. By reading from various file formats such as CSV, Excel, and JSON, we learned how Pandas simplifies the dat